
.noEve{
    position: absolute;
    text-align: center;
    top: 50%;
    right: 25%;
    left: 25%;
}
html,body{
    min-height: 100vh;
    position: relative;
    margin: 0;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.wrapper{
    padding-bottom: 80px;
}
#ftr{
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer #upload{
    margin: 10px;
}
footer a{
    color: #5294e2;
}
.navbar-brand{
    text-align: center;
    width: 100%;
}
.card{
    margin-bottom: 10px !important;
    box-shadow: 0 .125rem .25rem rgba(88, 73, 73, 0.294) ;
}
.card:hover,
.card:focus{
    transform: translateY(-0.25em);
    -webkit-box-shadow: 0px 44px 51px -7px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 44px 51px -7px rgba(0,0,0,0.54);
    box-shadow: 0px 44px 51px -7px rgba(0,0,0,0.54);    
}
#upload{
    /* margin: 5px; */
}
.card img{
     height: 230px !important;
}
.card .card-title{
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    footer{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding-right: 2x;
        padding-left: 2px;
    }
    footer #upload{
        margin: 3px;
    }
    .card img{
        width: 100%;
        height: auto;
    }
    #searchForm{
        margin: 0 !important;
    }
}