

 @import url('https://fonts.googleapis.com/css?family=Allura');
 .titleText{
    font-family: 'Allura', 'Nunito', sans-serif;
    font-size: 3em;
 }
 .titleText:hover {text-decoration: none; }
.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )  
                url('http://i.stack.imgur.com/FhHRx.gif')  
                50% 50%  no-repeat;
}
.noEve{
    position: absolute;
    text-align: center;
    top: 50%;
    right: 25%;
    left: 25%;
}
.hidden{
    display: none !important;
}
.inline{
    display: inline;
}
html,body{
    min-height: 100vh;
    position: relative;
    margin: 0;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.wrapper{
    padding-bottom: 80px;
}
#ftr{
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .footerbtn{
    margin: 10px;
}
footer a{
    color: #5294e2;
}
.navbar-brand{
    text-align: center;
    width: 100%;
}
.cardX{
    margin-bottom: 10px !important;
    box-shadow: 0 .125rem .25rem rgba(88, 73, 73, 0.294) ;
}
.cardX:hover,
.cardX:focus{
    transform: translateY(-0.25em);
    -webkit-box-shadow: 0px 44px 51px -7px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 44px 51px -7px rgba(0,0,0,0.54);
    box-shadow: 0px 44px 51px -7px rgba(0,0,0,0.54);    
}
.cardX img{
     height: 230px !important;
}
.card .card-title{
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    footer{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding-right: 2x;
        padding-left: 2px;
    }
    footer #upload{
        margin: 3px;
    }
    .cardX img{
        width: 100%;
        height: auto;
    }
    #searchForm{
        margin: 0 !important;
    }
}